@charset "utf-8";

/* --目次---

--------------- PC -----------------
//header.php
--共通...57行~
--header...166行~
--nav...202行~

//index.php
--mv...267行~
--モーダルエリア...357行~
--タロット説明エリア...500行~
--タロットカードエリア...602行~
-- 予約フォーム...655行~

//footer.php
--page_top...760行~
--footer...782行=

// output.php
...804行~

//customer-input
...940行~

//customer-complete
...960行~

--------------- SP -----------------
//hedaer.php 
共通...988行~
header...1005行~

//index.php
mv... 1027行~
モーダルエリア...1048行~
--タロット説明エリア...1062行~
--タロットカードエリア...1099行~
-- 予約フォーム...1116行~

//footer.php
--page_top...1187行~
--footer...1202行=


// output.php
...1212行~

//customer-input
...1255行~

        -- 目次 --*/

/*------------------------------------
 共通
 ------------------------------------ */
body {
  color: #fdfdfd;
  font-family: 'Lugrasimo', cursive;
  font-family: 'Noto Serif JP', serif;
  line-height: 1.8rem;
  /* background-color: rgba(56, 9, 101, 0.9); */
  background: linear-gradient(0deg, rgb(65, 18, 92) 0%, rgb(26, 6, 73) 100%);
}


h1 {
  font-family: 'Lugrasimo', cursive;
  font-family: 'Noto Serif JP', serif;
  font-size: 48px;
  font-weight: bold;
  padding: 3% 5% 1%;
  text-shadow: 1px 3px 10px rgb(7, 7, 7);
}

h2 {
  font-size: 24px;
  font-family: 'Noto Serif JP', serif;
  padding: 2% 5%;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgb(230, 209, 26);
}

p {
  text-shadow: 0px 0px 8px rgb(49, 49, 48);
  padding: 5% 0;
}

/* 各クラス指定してつける */
/* button {
  text-shadow: 1px 3px 10px cornsilk;
} */


img {
  width: 100%;
}

/* 共通アニメーション */
/*--------- スクロールで現れる表示記述 -----------------*/

/* ロードでふわっと表示 */
.load-fade {
  opacity: 0;
  visibility: hidden;
  transition: all 3s;
}

.load-fade.is-show1 {
  opacity: 1;
  visibility: visible;
}


/* ふわっと下から表示 */
.scroll-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}

.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


/* ふわっと左から表示 */
.scroll-left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: all 1s;
}

.scroll-left.is-show2 {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}


/* ふわっと右から表示 */
.scroll-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  transition: all 1s;
}

.scroll-right.is-show3 {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/*--------- ここまでスクロールで現れる表示記述 -----------------*/



/*------------------------------------
    header
 ------------------------------------ */
/* .mv {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
} */

header {
  z-index: 5;
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, rgba(39, 5, 71, 0.8), rgba(51, 6, 82, 0.4));
}

.header_inner {
  padding: 2% 2% 2% 5%;
  display: flex;
  justify-content: space-between;
}



/* logo */
.nav_logo {
  flex-basis: 40%;
}

.nav_logo>a>img {
  width: 14%;
}




/*---------------------------------
 nav 
 ----------------------------------*/
nav {
  padding-top: 1%;
  flex-basis: 60%;
}

nav>ul {
  display: flex;
  justify-content: end;
  column-gap: 3%;
  color: #bdbcba;
}

/* navそれぞれ */
nav>ul>li {
  text-align: center;
  width: 20%;
}

nav>ul>li:hover {
  animation: nav 300ms;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* navボタンアニメーション */
@keyframes nav {
  0% {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #bdbcba;
  }

  40% {
    border-top: 1px solid #bdbcba;
    border-bottom: none;
    border-right: none;
    border-left: none;

  }

  60% {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #bdbcba;
    border-left: none;
  }

  80% {

    border-top: none;
    border-bottom: 1px solid #bdbcba;
    border-right: none;
    border-left: none;
  }
}




/*------------------------------------
    MV
 ------------------------------------ */
.mv {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: relative;
}

/* .title_area {
  height: 100vh;
  width: 100vw;
  position: relative;
} */



/* タイトル */
.mv_title {
  font-size: 150px;
  color: #fff;
  position: absolute;
  bottom: 17%;
  right: 5%;
  animation: mv_title 5s;
  animation-fill-mode: forwards;
  /*最後のキーフレームを維持*/
  opacity: 0;
}

/* タイトルアニメーション */
@keyframes mv_title {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.title_name {
  font-size: 74px;
}


/* サブタイトル */
.mv_subtitle {
  position: absolute;
  opacity: 0;
  animation: sub_title 5s;
  animation-delay: 500ms;
  top: 20%;
  left: 8%;
  animation-fill-mode: forwards;
}

/* サブタイトルアニメーション  */
@keyframes sub_title {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}




.mv_subtitle>h4 {
  margin-bottom: 7%;
  color: rgba(255, 255, 255, 0.5);
}

.mv_subtitle>h4:last-child {
  transform: translateX(15%);
}


/*----------------------------------
 モーダルエリア  おまけ
 -----------------------------------*/

.stardust {
  position: absolute;
  opacity: 0.2;
  animation: star-dust 5s infinite;
  animation-delay: 500ms;
  top: 11%;
  left: 66%;
  cursor: help;
  /* cursor: default; */
  /* ↑通常の矢印カーソル */
}

@keyframes star-dust {
  20% {
    opacity: 0.3;
  }

  60% {
    transform: rotate(360deg);
    opacity: 1;
    top: 61%;
    left: 13%;
  }

  100% {
    top: 69%;
    left: 5%;
    opacity: 0.2;
  }
}

/*----------------------------------
 モーダルエリア  表示
 -----------------------------------*/
/* 表示非表示 */
.hidden {
  visibility: hidden;
}


.modal_mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 25, 24, 0.9);
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
}

.modal {
  padding: 4% 7%;
  width: 80%;
  height: 90vh;
  position: fixed;
  z-index: 99;
  background-color: #f4f4f4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: scroll;
}

.modal_mv_aera {
  margin-bottom: 5%;
}


.favorite_title_area>h3,
.modal_mv_aera>h3 {
  font-size: 1.5rem;
  color: #f32de9;
  padding-bottom: 1%;
}

.favorite_title_area {
  margin-bottom: 3%;
}

/* 閉じるボタン */
.modal_close {
  margin: 0.5% 1% 0 auto;
  font-size: 3rem;
  color: #000;
  width: 50px;
  text-shadow: 0 0 10px #FFF;
  cursor: pointer;
}

/* テキストエリア */
.modal_mv_aera>ul,
.favorite_text {
  color: #150433;
  font-size: 12px;
}

.favorite_text {
  list-style: square;
}

.favorite_text_area {
  text-align: start;
}





/* ---------------------修正箇所 ----------------------- */
#video-area {
  position: fixed;
  z-index: -1;
  /*最背面に設定*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh;
  /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw;
  /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

/* ---------------------修正箇所 ここまで----------------------- */

/*------------------------------------
 タロット説明エリア
 ------------------------------------ */
/*------------ 全体余白 ---------------------*/
.tarots_list {
  /* background-color: rgba(56, 9, 101, 1); */
  background: linear-gradient(0deg, rgba(76, 13, 89, 0.1) 0%, rgb(63, 15, 117) 2%, rgb(28, 6, 80) 98%, rgba(56, 9, 101, 0.1) 100%);
}

.tarots_list {
  padding: 8% 6% 8%;
}

/*------------- 説明欄余白 ---------------------*/
.list_text_area {
  /* width: 60vw; */
  padding: 6% 0;
}

.list_text_area>ul>li:first-child {
  padding-bottom: 5%;
}

.list_text_area>ul>li:last-child {
  margin-left: 5%;
}

.list_item:last-child>.list_flex>.list_text_area>ul>li:last-child {
  text-align: end;
  margin-right: 6%;
}


/* 題名 */
.list_title {
  font-size: 32px;
  margin-left: 4%;
}

/* 題名逆 */
.list_item:last-child>.list_flex>.list_title {
  text-align: end;
  margin-right: 4%;
}


/*--------- 横並び 間隔-----------*/
.list_item {
  display: flex;
}

.list_flex {
  flex-basis: 60%;
}

.spece {
  flex-basis: 40%;
}


/* ボタン */
.list_btn {
  padding: 1% 3%;
  border: 2px solid #bdbcba;
  position: relative;
  line-height: 40px;
  overflow: hidden;
}

/* ボタンエフェクト */
.list_btn::after {
  content: '';
  position: absolute;
  top: -10%;
  left: -20%;
  width: 40px;
  height: 100%;
  transform: scale(2) rotate(20deg);
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .5) 100%, rgba(255, 255, 255, 0) 0%);
  /* アニメーション */
  animation-name: shiny;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shiny {
  0% {
    left: -20%;
  }

  10% {
    left: 120%;
  }

  100% {
    left: 120%;
  }
}



/*------------------------------------
 カード
 ------------------------------------ */
.tarots_area>form {
  padding: 3% 10%;
  display: flex;
  /* column-gap: 4%; */
  justify-content: space-between;

}


button>img {
  width: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 15px #150433;
}



.btn {
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
  box-shadow: 1px 5px 20px #bfa9e5;
}

.tarots_area {
  padding: 5% 0 10%;
  /* animation: tarots 3s; */
  opacity: 0;
  animation-fill-mode: forwards;
}

/* サブタイトルアニメーション  */
/* @keyframes tarots {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
} */


/*------------------------------------
          予約フォーム
 ------------------------------------ */
.form_inner {
  padding: 15% 6% 10%;
  background: linear-gradient(0deg, rgba(76, 13, 89, 0.1) 0%, rgb(63, 15, 117) 2%, rgb(28, 6, 80) 98%, rgba(56, 9, 101, 0.1) 100%);
}

.form_title_area {
  padding: 0 10%;
  text-align: center;
}

.form_title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

/* 外枠 */
.form_outline {
  margin: 10% 1% 5%;
  padding: 4% 3%;
  outline: 2px solid #bfa9e5;
}


/*----------------- 横並び --------------*/
.input_item {
  display: flex;
  align-items: center;
  padding: 2% 0;
}

/* inputの大きさ */
.input_item:nth-child(1)>input,
.input_item:nth-child(2)>input,
.input_item:nth-child(3)>input,
.input_item:nth-child(4)>input {
  width: 30%;
}

/* 項目名 */
.input_item>h3 {
  flex-basis: 46%;
  text-align: end;
  padding-right: 5%;
}

.point {
  font-size: 8px;
  color: #f32de9;
}


.input_item>input,
select,
textarea {
  outline: 1px solid #150433;
  background-color: #bfa9e5;
  color: #150433;
  padding: 0.5% 2%;
  border-radius: 5px;
}

/* 占い内容 */
.input_item:nth-last-of-type(2) {
  align-items: flex-start;
}

.input_item:nth-last-of-type(2)>h3 {
  padding-right: 6%;
}

.input_item:nth-last-of-type(2)>textarea {
  width: 40%;
  height: 20vh;
}



/* 送信ボタン */
.submit_btn {
  text-align: center;
  padding: 5% 0 4%;
}

.form_btn {
  padding: 1% 5%;
  background-color: rgb(40, 6, 71);
  border-radius: 8px;
}

.form_btn:hover {
  box-shadow: 1px 2px 5px #4c286d;
  transform: translateY(-5%);
}


.form_btn>input {
  letter-spacing: 0.5rem;
}

/*------------------------------------

           page_top

 ------------------------------------ */
.page_top {
  margin-top: 10%;
  text-align: end;
  margin-right: 2%;
}

.page_top_btn {
  opacity: 0;
  background-color: rgb(40, 6, 71);
  padding: 2% 2%;
  font-size: 24px;
  position: fixed;
  transition: .3s;
  bottom: 6%;
  right: 2%;
}


/*------------------------------------

           footer  

 ------------------------------------ */
footer {
  padding: 1% 0;
  background-color: rgb(63, 15, 117);
  text-align: center;
}

.copy {
  font-size: 12px;
}







/*------------------------------------
 

            output.php  


 ------------------------------------ */
.card_inner {
  padding-top: 5%;
}

/* カード全体表示設定 */
.card {
  opacity: 0;
  text-align: center;
  -webkit-animation: cardanime 5s;
  animation-fill-mode: forwards;
  /*最後のキーフレーム維持*/
}

@-webkit-keyframes cardanime {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* 1枚目 表紙の部分 */
.card1 {
  width: 20%;
  box-shadow: 1px 1px 15px #150433;
  object-fit: cover;
  opacity: 1;
  text-align: center;
  -webkit-animation: card1anime 5s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

@-webkit-keyframes card1anime {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 2枚目に現れる */
.card2 {
  width: 22%;
  box-shadow: 1px 1px 15px #150433;
  object-fit: cover;
  opacity: 0;
  text-align: center;
  -webkit-animation: card2anime 5s;
  -webkit-animation-delay: 400ms;
  animation-fill-mode: forwards;
}

@-webkit-keyframes card2anime {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.card_list {
  text-align: center;
  margin: 0 auto;
}

.card_spirit {
  padding-bottom: 2%;
}

.back_btn>button>a:hover {
  color: rgb(230, 209, 26);
  text-shadow: 1px 1px 10px #FFF;
}



.card_spirit {
  animation: tarots 5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.text {
  animation: tarots 5s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}


/* サブタイトルアニメーション  */
@keyframes tarots {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*------------------------------------
 

         customer-input


 ------------------------------------ */
.customer_inner>.form_inner {
  background: linear-gradient(0deg, rgb(65, 18, 92) 0%, rgb(26, 6, 73) 100%);
}

.input_p {
  padding: 0;
}

.input_form>.input_item:nth-last-of-type(2)>h3 {
  padding-right: 5%;
}

/*------------------------------------
 

         customer-complete


 ------------------------------------ */
.complete_inner,
.back_btn {
  text-align: center;
}

.complete_inner {
  padding: 8% 0;
}

.back_btn {
  margin: 5% 0;
}

.input_error {
  text-align: center;
}





/*media Queries 767
-------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  /*------------------------------------
 共通  SP
 ------------------------------------ */

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 8px;
  }


  /*------------------------------------
    header SP
 ------------------------------------ */
  .header_inner {
    align-items: center;
  }


  /* ロゴ大きさ */
  .nav_logo>a>img {
    width: 35%;
  }

  nav>ul {
    column-gap: 0;
  }

  nav>ul>li {
    font-size: 8px;
    width: 35%;
  }

  /*------------------------------------
        mv SP
  ------------------------------------ */
  /* サブタイトル */
  .mv_subtitle {
    font-size: 12px;
    top: 20%;
  }

  /* タイトル */
  .mv_title {
    font-size: 120px;
    bottom: 20%;
    right: 3%;
  }

  .title_name {
    font-size: 40px;
  }


  /*----------------------------------
 モーダルエリア  おまけ SP
 -----------------------------------*/
  .favorite_title_area>h3,
  .modal_mv_aera>h3 {
    font-size: 1rem;
  }

  .modal_mv_aera>ul,
  .favorite_text {
    font-size: 8px;
  }


  /*------------------------------------
 タロット説明エリア  SP
 ------------------------------------ */

  /* 縦並び */
  .list_item {
    display: block;
  }

  /* 説明文余白 */
  .spece {
    margin: 30%;
  }


  /* 余白 */
  .tarots_list {
    padding: 40% 6% 40%;
  }

  /* タイトル */
  .list_title {
    font-size: 24px;
    margin-left: 4%;
  }

  /* テキスト */
  .list_text_area {
    font-size: 12px;
  }

  /* ボタン */
  .list_btn {
    line-height: 30px;
  }

  /*------------------------------------
 カード SP
 ------------------------------------ */
  /* 余白 */
  .tarots_area {
    padding: 20% 0 30%;
  }

  /* タロット選択 */
  .tarots_area>form {
    column-gap: 4%;
  }

  .tarots_area>form {
    padding: 8% 6%;
  }


  /*------------------------------------
           予約フォーム SP
------------------------------------ */
  .form_inner {
    padding: 20% 6% 25%;
  }

  /* 文字サイズ */
  .form_title {
    font-size: 24px;
  }

  .form_title_area>p {
    font-size: 8px;
  }

  .input_item>h3 {
    font-size: 14px;
  }


  /* フォーム縦並び */
  .input_item {
    display: block;
    text-align: center;
  }

  /* 中央揃え */
  .input_item>h3 {
    text-align: center;
    padding-right: 0;
    padding-bottom: 2%;
  }

  .input_item:nth-last-of-type(2)>h3 {
    padding-right: 0;
  }


  /* インプット幅 */
  .input_item:nth-child(1)>input,
  .input_item:nth-child(2)>input,
  .input_item:nth-child(3)>input,
  .input_item:nth-child(4)>input,
  .input_item:nth-last-of-type(2)>textarea {
    width: 100%;
  }

  .form_outline {
    padding: 10% 8%;
  }



  /* 入力文字大きさ */
  .input_item>input,
  select,
  textarea {
    font-size: 12px;
  }

  /* 送信ボタン */
  .submit_btn {
    padding: 10% 0 4%;
  }

  .form_btn>input {
    letter-spacing: 0rem;
  }


  /*------------------------------------
  
             page_top SP
  
  ------------------------------------ */
  .page_top {
    margin-top: 31%;
  }

  .page_top_btn {
    font-size: 12px;
    padding: 1% 2%;
    bottom: 5%;
  }

  /*------------------------------------

           footer   SP

 ------------------------------------ */
  .copy {
    font-size: 8px;
  }


  /*------------------------------------
 

            output.php  


 ------------------------------------ */
  /* ページ上余白 */
  .card_inner {
    height: 100%;
    padding-top: 30%;
  }

  .card_list {
    padding: 10% 0;
  }


  /* 文字サイズ */
  .card_inner>h1 {
    font-size: 24px;
  }

  .card_A {
    font-size: 14px;
  }

  .card_spirit {
    font-size: 12px;
  }

  .text {
    font-size: 8px;
  }

  .back_btn {
    font-size: 8px;
  }


  /*------------------------------------
   
  
           customer-input SP
  
  
   ------------------------------------ */
  .customer_inner>.form_inner {
    height: 100vh;
  }


  .error_customer {
    text-align: center;
  }

  /* 横並び */
  .input_form>.input_item {
    display: flex;
  }

  .input_form>.input_item>h3 {
    text-align: end;
  }

  .input_form>.input_item:nth-last-of-type(2)>h3 {
    padding-right: 0;
  }

  textarea {
    text-align: start;
  }


}