@charset "utf-8";

:root {
  --rectangle1-: #FFD233;
  --rectangle2-: #B392AC;
  --rectangle3-: #7F5539;
  --rectangle4-: #D27C2C;
  --rectangle5-: #EDE0D4;
  --rectangle6-: #CCCCCC;
  --rectangle7-: #D9D9D9;
  --rectangle8-: #BF0000;
  --rectangle10-: #000000;
  --rectangl11-: #E6CCB2;
  --rectangle12-: #E8C2CA;
  --rectangle13-: #F7D1CD;
  --rectangle13-: #FF8877;

  --font-family-: 'Noto Sans JP', sans-serif;

}


/* ---------------------------------------


   product_donuts 商品一覧ページ


----------------------------------------*/
.product_donuts {
  /* 仮高さ */
  height: 2716.6px;
  padding-top: 9%;
}

.product_donuts>.title::after {
  width: 22%;
  right: 39%;
}

/* メインメニュー */
.main_title {
  padding-top: 13%;
  text-align: center;
}

.main_menu-item {
  margin-bottom: 39%;
  row-gap: 6%;
}


/* バラエティセット */

.variety {
  padding: 20% 0 15%;
}

.main_menu-item:last-child {
  row-gap: 6%;
}




/* ---------------------------------------

     detail.php 商品紹介ページ

----------------------------------------*/
.detail_ber>.gest_name {
  padding: 2% 6%;
}

/* 余白 */
.main_donuts>form {
  margin-top: 15%;
}


/* 選択したドーナツタイトル */
.ber_name {
  color: var(--rectangle3-);
  text-align: left;
  font-weight: 500;
  line-height: 25.6px;
}

.donuts_list {
  padding: 4% 5% 21%;
}

.donuts_list>form {
  margin-top: 0;
}


.donuts_list>form>.menu-item-name {
  padding-top: 6%;
}

.donuts_list>form>.menu-item-name:hover {
  color: var(--rectangle3-);
}

/* テキスト */
.item_text {
  margin-top: 11%;
  margin-bottom: 12%;
  color: var(--rectangle3-);
  text-align: justify;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px;
  position: relative;
}

/* 線 */
.item_text::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--rectangl11-);
  top: -27px;
  left: 0;
}

.item_text::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--rectangl11-);
  bottom: -18px;
  left: 0;
}



/* 料金・カート横並び */
.donuts_item {
  display: flex;
  align-items: flex-end;
}

/* カート大きさ */
.donuts_item>button {
  margin-left: 5%;
  width: 47%;
  padding: 3% 0;
}

/* 個数の大きさ */
.donuts_item>input {
  margin-right: 1%;
  height: 36px;
  width: 18%;
  outline: 1px solid var(--rectangle3-);
}




/* ---------------------------------------

   cart.php カートページ

----------------------------------------*/


/* ---------------------------------------

          ログインページ

----------------------------------------*/
.login_wrapper>.title {
  margin-top: 9%;
}

/* タイトル黄色い下線 */
.login_wrapper>.title::after {
  width: 22%;
  right: 38%;
}

/* フォーム外枠 */
.outline {
  outline: 1px solid var(--rectangle13-);
  padding: 2% 5% 6%;
  margin-top: 24%;
}

/* フォーム周り余白 */
.login_inner {
  margin: 0px 11%;
}

/* フォーム内 */
.input_item {
  margin-bottom: 5%;
}

.input_name {
  padding: 4% 0 3%;
  font-size: 12px;
  color: var(--rectangle3-);
}

.login_input {
  outline: 1px solid var(--rectangle3-);
  width: 100%;
}

/* フォームボタン */
.login_btn {
  text-align: center;
  width: 100%;
}

.login_btn>input {
  margin-top: 10%;
  width: 75%;
  font-size: 12px;
  color: #fff;
  background-color: var(--rectangle3-);
  padding: 6% 0;
  letter-spacing: 0.2rem;
}

/* リンク */
.new_login {
  padding: 5% 0 16%;
  margin-right: 11%;
  text-align: right;
}

.new_text {
  color: var(--rectangle3-);
  font-family: Noto Sans JP;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-decoration-line: underline;
  /* 100% */
}

/* ---------------------------------------

          ログイン  完了ページ

----------------------------------------*/
/* 黄色下線長さ */
.ok_login>.title::after {
  width: 34%;
  right: 31%;
}

/* フォーム中内容 */
.ok_login>.login_inner>.outline {
  text-align: center;
  padding: 9% 11%;
}

/* TOPリンク余白 */
.ok_new {
  padding: 5% 0 21%;
}

/* ---------------------------------------

          ログイン  完了ページ

----------------------------------------*/
.logout_inner>.input_name {
  text-align: center;
  padding-bottom: 0;
}

.logout_inner {
  margin-bottom: 0;
}


/* ---------------------------------------

          ログアウト  入力ページ

----------------------------------------*/
/* 下線 */
.logout_wrapper>.title::after {
  width: 39%;
  right: 30%;
}

.logout_wrapper {
  margin-bottom: 21%;
}


/* ---------------------------------------

          新規登録ページinput

----------------------------------------*/
/* 黄色下線 */
.customer_wrapper>.title::after {
  width: 24%;
  right: 38%;
}

/*  タイトル上余白 */
.customer_wrapper>.title {
  margin-top: 9%;
}

/* フォーム余白 */
.customer_inner>form {
  margin-top: 15%;
}

.customer_inner {
  padding: 0 11% 21%;
}

/* フォーム内感覚 */
.customer_inner>form>.input_item {
  margin-bottom: 5%;
}

.customer_inner>form>.input_item>.input_name {
  padding: 3% 0 1%;
}

/* 必須 */
.point {
  color: rgba(255, 0, 0, 1);
}

/* パスワード入力 */
.input_item>.point {
  width: 130%;
  transform: translate(-10%, -10%) scale(0.8);
  font-size: 8px;
  line-height: 8px;
}

/* 送信ボタン */
.customer_btn>input {
  width: 70%;
}

/* ---------------------------------------

        新規登録 確認ページconfirm

----------------------------------------*/
/*  タイトル上余白 */
.complete_wrapper>.title {
  margin-top: 9%;
}

.customer_fm_inner>.customer_inner>form {
  margin-top: 12%;
}

.customer_fm_inner>.customer_inner>form>.input_item>.input_name {
  padding: 5% 0px 2%;
}

/* 入力文字横棒 */
.customer_fm_inner>.customer_inner>form>.input_item>input {
  font-size: 12px;
  border-left: 2px solid var(--rectangle3-);
  padding-left: 2%;
}

/* 余白 */
.customer_fm_inner>.customer_inner>form>.input_item {
  margin-bottom: 2.5%;
}

/* ボタン */
.customer_fm_inner>.customer_inner>form>.customer_btn>input {
  letter-spacing: 0rem;
  font-size: 16px;
}

/* 余白 */
.error_customer {
  padding: 15% 11% 2%;
}

/* ---------------------------------------

        新規登録 完了ページ complete

----------------------------------------*/
.ok_cus {
  text-align: center;
  margin-bottom: 40%;
}

/* ---------------------------------------

        カート 確認ページcart-show.php

----------------------------------------*/
.cart_show_inner {
  margin-top: 5%;
}

.cart_show_inner>form {
  margin-top: 0;
}

/* ---------------------------------------

        カート 確認ページcart.php

----------------------------------------*/
/* 余白 */
.cart_item_inner {
  padding: 0 6%;
}

.cart_item_inner,
.cart_item_inner>.menu-item>* {
  margin-top: 3%;
  text-align: center;
}

.menu-count {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 100% */
}

/* 合計 */
.total_cush {
  color: var(--rectangle3-);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  /* 100% */
}

.cart_item_inner>.menu-item>a {
  display: inline-block;
  margin-top: 3%;
  text-decoration-line: underline;
  font-size: 12px;
  font-weight: 350;
  line-height: 12px;
  /* 100% */
}

/* 外枠 */
.cart_line {
  outline: 1px solid var(--rectangle1-);
  padding: 6% 10% 6%;
}

/* ボタン */
.cart_show_btn {
  text-align: center;
  margin-top: 3%;
  width: 80%;
  font-size: 12px;
  color: #fff;
  background-color: var(--rectangle8-);
  padding: 7% 0;
}

/* 下ボタン */
.cart-btn {
  padding: 6% 13% 20%;
}

.cart-btn>button {
  margin-top: 5%;
}




/*media Queries 768
-------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {

  /* ---------------------------------------
  
  
     product_donuts 商品一覧ページ
  
  
  ----------------------------------------*/
  .product_donuts_wrapper {
    padding-bottom: 44%;
  }

  .product_donuts {
    /* 仮高さ */
    height: 2716.6px;
    padding-top: 7%;
  }

  /* 下線 */
  .product_donuts>.title::after {
    width: 10%;
    right: 45%;
  }

  /* メインメニュー */
  .main_title {
    padding-top: 13%;
    text-align: center;
    font-size: 24px;
  }

  /* 余白 */
  .main_donuts>form {
    margin-top: 7%;
  }

  .main_menu-item {
    margin-bottom: 8%;
  }

  .variety {
    padding: 13% 0 6.5%;
  }


  /* ---------------------------------------

     detail.php 商品紹介ページ

----------------------------------------*/
  .detail_ber>.gest_name {
    padding: 0.5% 8%;
  }

  .donuts_list {
    display: flex;
    padding: 6% 12% 13%;
    column-gap: 4%;
  }


  .item_img {
    flex-basis: 52%;
  }

  .donuts_list>form {
    flex-basis: 44%;
  }

  /* タイトル上余白 */
  .donuts_list>form>.menu-item-name {
    padding-top: 2%;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
  }

  /* 説明 */
  .item_text {
    letter-spacing: 0.1em;
    margin-top: 16%;
    margin-bottom: 17%;
    font-size: 24px;
    line-height: 32.6px;
  }

  /* 個数、ボタンエリア */
  .donuts_item {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
  }

  .donuts_item>button {
    margin-left: 8%;
    width: 56%;
    padding: 3% 0;
  }

  .donuts_item>input {
    height: 50px;
  }

  /* ---------------------------------------
    
            カート 確認ページcart.php  PC
    
    ----------------------------------------*/
  /* 余白 */
  .cart_item_inner {
    margin-top: -2%;
    padding: 0% 6%;
  }

  .cart_item_inner>.menu-item {
    display: flex;
    padding: 0% 7%;
    column-gap: 3%;
  }

  /* flex-basis比率 */
  .menu-list_cart {
    flex-basis: 33%;
  }

  .menu-list_cart:last-child {
    flex-basis: 64%;
  }


  /*タイトル上余白  */
  .menu-list_cart>.menu-item-name {
    padding-top: 0;
    position: relative;
  }


  /* 個数 */
  .menu-count {
    margin-top: -5%;
    text-align: end;
    font-size: 24px;
    font-weight: 600;
    line-height: 16px;
  }

  /* 削除ボタン */
  .delete {
    display: inline-block;
    font-size: 20px;
    margin-top: 27%;
    margin-left: 84%;

  }

  /* タイトル下線 */
  .menu-list_cart>.menu-item-name::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid var(--rectangl11-);
    bottom: -45%;
    left: 0;
  }

  .menu-list_cart>.menu-item-name::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid var(--rectangl11-);
    bottom: -970%;
    left: 0;
  }


  /* 購入ボタン */
  .cart_show_btn {
    width: 28%;
    font-size: 20px;
    padding: 2% 0;
  }

  .cart_line {
    margin: 41% 7% 0%;
    padding: 6% 3% 6%;
  }

  .total_cush {
    font-size: 24px;
  }

  /* 買い物を続けるボタン */
  .cart-btn>button {
    width: 29%;
    padding: 2% 0;
    font-size: 20px;
  }

  .cart-btn {
    padding-top: 0;
  }

}